[user]
	name = Prateek Kumar
	email = prateek@prateekkumar.in
	signingkey = AA58A8213007883D3E5F95B1CCF0B4F846B8EE31
[commit]
	gpgsign = true
[pull]
	rebase = true
[credential]
	credentialStore = gpg
	helper = 
	helper = /usr/bin/git-credential-manager-core
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
